body {
  padding-top: 70px;
  background-color: #1D3C31;
  color:#A89272;
}

nav {
  color: black;
}

.well {
  box-shadow: 0 2px 8px black;
  color: black;
}

.modal {
  color: black;
}

#loginForm {
  width: 250px;
}

#loginForm > .form-group {
  margin: 15px;
}

#map {
  height: 400px;
}

#loginSection {
  margin-right: 0px;
}

.navbar-brand > img {
  height: 50px;
  margin-top: -15px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}
