body {
  padding-top: 70px;
}

#loginForm {
  width: 250px;
}

#loginForm > .form-group {
  margin: 15px;
}

#map {
  height: 400px;
}

#loginSection {
  margin-right: 0px;
}
.navbar-brand > img {
  height: 50px;
  margin-top: -15px;
}
