body {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color:#E8E8E8;
  color:#A89272;
}

.splash-page {
  background-image: url("/images/bully.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 700px;
  color: white;
  margin-bottom: 50px;
  margin-top: -20px;
}

.splash-page h1 {
  padding-top: 100px;
  font-size: 8em;
  font-family: 'Amatic SC', cursive;
  padding-left: 1.13em;
  font-weight: 400;
}

.navbar-fixed-top {
  box-shadow: 10px 0 20px black;
  background-color: #f8efe2;
  opacity: .7;
}

.navbar-fixed-bottom {
  box-shadow: -10px 0 20px black;
  background-color: #f8efe2;
  opacity: .7;
  b
}

nav {
  color: black;
  /*background-color: rgba(168, 146, 114, 0.8);*/
  background-color: #9AACB8;
}

.well {
  box-shadow: 0 2px 8px black;
  color: black;
}

.modal {
  color: black;
}

#loginForm {
  width: 250px;
}

#loginForm > .form-group {
  margin: 15px;
}

#map {
  height: 400px;
}

#loginSection {
  margin-right: 0px;
}

.navbar-brand > img {
  height: 50px;
  margin-top: -15px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}

#dogs {
  font-family: 'Finger Paint', cursive;
}

#dogList {
  font-family: 'Indie Flower', cursive;
  font-size: 2em;
}

#user, #users {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.2em;
}

#admins, #parks {
  font-family: 'Sarala', sans-serif;
  font-size: 1.5em;
}
